<p>book-list works!</p>


<h2>Books</h2>
<div *ngFor="let book of books$ | async">
    <h4>{{book.title}}</h4>
    <h4>{{book.author}}</h4>
    <button (click)="removeBook(book.id)">Remove Book</button>
</div>

<h2>Create a new book</h2>
<div>
    <input #bookId type="text" placeholder="Book Id"> &nbsp;
    <input #bookTitle type="text" placeholder="Book Title"> &nbsp;
    <input #bookAuthor type="text" placeholder="Author"> &nbsp;
    <button (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">
        Add new Book
    </button>
</div>